<nav>
    <h1><a href="../">CoffeeCo</a></h1>
    <ul>
        <hr>
        <li><a href="/cashier">Cashier</a></li>
        <hr>
        <li><a href="/barista">Barista</a></li>
        <hr>
    </ul>
    <div class="profile">
    <%= account.firstName %>
    <a href="/logout">Logout</a>
    </div>
</nav>



