<%- include('./partials/nav') %>

<div class="container container1">
    <div class="center">
        <a href="cashier">Cashier</a>
    </div>
</div>

<div class="container container2">
    <div class="center">
        <a href="barista">Barista</a>
    </div>
</div>
