<h2>Register</h2>
<form action="/register" method="POST">
    <input type="text" placeholder="first name" required>
    <input type="text" placeholder="last name">
    <input type="email" placeholder="email" required>
    <input type="password" placeholder="password" required>
    <input type="password" placeholder="password" required>
    <button type="submit"> Register</button>
</form>
<span> Already have an account? Click <a href="/register">here</a>!<span>